<div id="job-info">
	<!-- Making content for Who -->
	<div class="site-wrapper" ng-repeat="job in jobs">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">

					<div class='row page-header'>
						<h3 class="masthead-brand">
							<a href="{{job.what.url}}" target="_blank" class="cover-heading">
								{{job.what.title}} </a>
						</h3>
					</div>

					<div class='row'>
						<div class='col-md-1'></div>

						<!-- Making content for What -->
						<div class='col-md-7'>
							<div class='row'>
								<div class='row'>
									<p class='label label-warning'>What</p>
								</div>
								<div class='row'>
									<jobContent>{{job.what.content}}</jobContent>
								</div>
							</div>
						</div>

						<div class='col-md-1'></div>

						<!-- Making content for Where -->
						<div class='col-md-3'>
							<div class='row'>
								<p class='label label-warning'>Who</p>
							</div>
							<div class='row'>
								<h4>{{job.who.company}}</h4>
							</div>
							<div class='row'>
								<p class='label label-warning'>Where</p>
							</div>
							<div class='row'>
								<p>{{job.where.city}}, {{job.where.state}},
									{{job.where.country}}</p>
							</div>

							<!-- Making content for When -->
							<p class='label label-danger'>{{job.timestamp}}</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>