@(title: String)

<!DOCTYPE html>

<html ng-app="jobPlatfone">
	<head>
		<title>@title</title>

		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

		<!-- Bootstrap core CSS -->
		<link href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" >
		<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-cookies.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>
		<script src="@routes.Assets.at("javascripts/application.js")"></script>
		<script src="@routes.Assets.at("javascripts/index.js")"></script>
		<script src="@routes.Assets.at("javascripts/login.js")"></script>
	</head>
	<body>

		@navbar()

		<div class="container marketing">
			<h1>Job Platfone</h1>
			
			<form class="form-wrapper cf" action="/search" method="get"
				style="margin-top: 40px;">
				<input id="who" name="who" type="text" placeholder="Who : company">
				<input id="what" name="what" type="text" placeholder="What : content">
				<input id="where" name="where" type="text" placeholder="Where : place">
				<input id="datepicker" name="when" type="text"
					placeholder="When : date">
				<button type="submit">Search</button>
			</form>

			<div id="top"  ng-view>
			</div><!-- /.container -->
		</div>
		
		<!-- FOOTER -->
		<footer>
			<p>&copy; 2014 Platfone Inc.<!-- &middot; <a href="#">Privacy</a> --></p>
		</footer>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-transition.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-alert.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-modal.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-tab.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-tooltip.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-popover.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-button.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-collapse.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-carousel.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-typeahead.js")"></script>
	</body>
</html>